<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl"
	data-ng-app='canvasApp'>
<head>
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"
	rel="stylesheet" />

<meta charset="UTF-8">
<title>The Game of Life</title>
</head>
<body data-ng-controller='gameOfLifeController'>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<label>Number of columns (X):</label>
				<input type="number" data-ng-model="columns"> 
				<br/>
				<label>Number of rows (Y):</label> 
				<input type="number" data-ng-model="rows">
				<br/>
				<label>Number of alive cells:</label>
				<input type="number" data-ng-model="aliveCells">
				<br/>
				<label>Pixels per cell:</label>
				<input type="number" data-ng-model="pix"> <br/>
				<label>Update delay in ms:</label>
				<input type="number" data-ng-model="delay"> <br/>
			</div>
		</div>
		<br /> <br />
		<div class="row">
			<div class="col-lg-12">
				<button type="button" class="btn btn-primary"
					data-ng-click="startGameOfLife(columns, rows, aliveCells, pix, delay)">Start
					The Game Of Life</button>
			</div>
		</div>
		<br /> <br />
		<div class="row">
			<div class="col-lg-12">
				<canvas id="gameOfLife"></canvas>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
<script th:src="@{/webjars/angularjs/1.6.4/angular.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
<script th:src="@{/app/app.module.js}"></script>
<script th:src="@{/app/components/game-of-life/game-of-life.controller.js}"></script>
<script th:src="@{/app/components/game-of-life/game-of-life.service.js}"></script>

</html>